<ion-view title="Register" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="register-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Username:</strong>
      </p>
    </div>
    <div id="register-container2" class="creator-container"></div>
    <div id="register-container1">
      <div id="register-markdown17" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Password:</strong>
        </p>
      </div>
    </div>
    <div id="register-container3" class="creator-container"></div>
    <button id="register-button5" class="button button-positive button-block">Tap me!</button>
  </ion-content>
</ion-view>